@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mukta:wght@600&family=Open+Sans:ital,wght@0,400;0,500;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,400;0,500;1,300;1,500&display=swap");

* {
  margin: 0;
  font-family: "Mukta", sans-serif;
  color: white;
  background: transparent;
  /* border: 1px solid red; */
}

body,
html {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
}

#welcome-container {
  padding: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

#title {
  font-size: 2vw;
}

#main-menu {
  background: rgb(242, 210, 114);
  background: radial-gradient(
    circle,
    rgba(242, 210, 114, 1) 0%,
    rgba(242, 184, 7, 1) 99%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#trivia-logo {
  width: 30vw;
  height: auto;
  transform: scale(1);
  animation: pulse 2s infinite;
}

#game-play {
  background-image: url("https://i.ibb.co/DCBGrCv/Backround.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Mukta", sans-serif;
  justify-content: center;
}

#game-container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1vw;
  background-image: url("https://i.ibb.co/d650hjJ/Screen.png");
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#score-page {
  background-image: url("https://i.ibb.co/DCBGrCv/Backround.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#category-select {
  background-color: rgb(37, 36, 36);
  padding: 1%;
}

header {
  position: relative;
}

#company-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 7vw;
  padding: 2vw;
}

.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 7px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

#game-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(0.95);
  }
}

#play-button {
  width: 6vw;
  height: 6vw;
  transition: 0.3s;
}

#play-button:hover {
  width: 7vw;
  height: 7vw;
  animation: glowing 5000ms infinite;
}

#answer-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  z-index: 12;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%); */
}

.answer {
  width: 19vw;
  height: 7vw;
  border-radius: 10px;
  border: 0;
  background-image: url("https://i.ibb.co/mTnNhSx/answer-button.png");
  background-size: 19vw 7vw;
  background-repeat: no-repeat;
  /* font-size: 3vw; */
  text-align: center;
  line-height: 1;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: normal;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.answer:hover {
  animation: glowing 4s infinite alternate;
  transition: border 0.4s ease;
}

#next-container {
  width: 100vw;
  display: flex;
  padding-bottom: 2%;
  position: relative;
  justify-content: flex-end;
}

#next-container > * {
  margin-right: 4vw;
}

#next-button {
  width: 10%;
  animation: glowing 5000ms infinite;
}

#next-button:hover {
  width: 11%;
  animation: glowing 5000ms infinite;
  transition: 0.3s;
}

@keyframes glowing {
  0% {
    -webkit-filter: drop-shadow(8px 8px 8px #f2d272);
    filter: drop-shadow(8px 8px 8px #f2d272);
  }
  40% {
    -webkit-filter: drop-shadow(3px 3px 3px #f2a007);
    filter: drop-shadow(3px 3px 3px #f28407);
  }
  60% {
    -webkit-filter: drop-shadow(7px 7px 7px #f4f4f4);
    filter: drop-shadow(6px 6px 6px #fafafa);
  }
  100% {
    -webkit-filter: drop-shadow(5px 5px 5px #f2d272);
    filter: drop-shadow(5px 5px 5px #f2d272);
  }
}

#words-box {
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 35%;
  z-index: 10;
  text-align: center;
  margin-top: 15%;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -7px #d97904;
  }
  to {
    box-shadow: 0 0 10px 7px #fffcf8;
  }
}

#end-container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1vw;
  background-image: url("https://i.ibb.co/q7JQ57L/10164326.png");
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#score {
  font-size: 4vw;
}

#text-end {
  text-align: center;
}

@media screen and (max-width: 768px) {
  body,
  html {
    font-size: 5px;
  }

  #title,
  #score,
  #text-end {
    font-size: 5vw;
  }

  #game-container,
  #score-page,
  #end-container {
    background-size: 100% auto;
  }

  #answer-buttons {
    grid-template-columns: 1fr;
    gap: 4vw;
  }

  #words-box {
    width: 80%;
    font-size: 4vw;
  }

  #game-play,
  #main-menu {
    flex-direction: column;
  }
}
