* {
  margin: 0;
}

#main-menu{
  background: rgb(242,210,114);
  background: radial-gradient(circle, rgba(242,210,114,1) 0%, rgba(242,184,7,1) 99%);
  width: 100vw;
  height: 100vh;
}

#game-play{
  background-image: url('https://i.ibb.co/0sBmYCk/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}


#trivia-logo {
  width: 20vw;
  height: auto;
}

#play-button {
  width: 10vw;
  height: auto;
}

#play-button:hover{
  width: 13vw;
  height: auto;
  transition: 0.3s
}